@import './components/cleaner';
#output{
  grid-area: output;
}
#start{
  grid-area: start;
}
#stop{
  grid-area: stop;
}
#clock{
  display: grid;
  width: 300px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 50px);
  margin: 200px auto;
  padding: 20px;
  background: #eee;
  border-radius: 15px;
  grid-gap: 10px;
  grid-template-areas:
    'output output'
    'start stop';
}
