@import "components/cleaner";
#container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.image{
  cursor: pointer;
}
.popup{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #000000ee;
  .image-wrapper{
    width: 500px;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    border: 8px solid #eeeeee;
  }
}
